@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #2c2f3e;
}

/* @media screen and (max-width: 919px) {
    .App{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .championStatus{
        width: 100%;
    }

    .estrategy{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
} */

@media screen and (max-width: 927){
    .championStatus{
        display: flex;
        flex-direction: column;
        width: 100%;    
    }
}