.modal{
    position: relative;
    width: 30rem;
    right: 25px;
    height: 4.5rem;
    display: flex;
    z-index: 1;
    align-items: flex-end;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
}

.modal-content{
    width: 500px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 30px;
    transform: translateY(-200px);
    display: flex;
    flex-direction: column;
}

.modal-header, .modal-footer{
    padding: 10px;
    color: #f1f1f1;
    background-color: #2c2f3e;;
    border: none;
    border-radius: 5px;
}

.modal-title{
    margin: 0;
    text-align: center;
}

.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #000;
}

.descModalBody{
    color: #000;
}

.btnCloseModal{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.25rem;
    width: 5rem;
    border-radius: 25px;
    height: 2.5rem;
}

.btnCloseModal:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: #f10e0e;
    filter: brightness(95%);
}