.containerModal {

  img {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }

}

.modalContent {
  border: 1px solid red;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  flex-direction: column;
  .test{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}