@font-face{
    font-family: 'LeagueOfLegends';
    src: url('../assets/fonts/Friz_Quadrata_Regular.ttf')
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'LeagueOfLegends';
    font-size: 20px;
    width: 25vh;
}

.Logo{
    width: 10rem;
    padding: 0.75rem;
    border-radius: 75px;
}

.Logo:hover{
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

.LogoChampion{
    width: 10rem;
    padding: 0.75rem;
    border-radius: 75px;
    position: relative;
    left: -2.5%;
    animation: slide-logo-champion 1s ease 0s 1 normal forwards;
}

.container{
    display: flex;
    width: 100vh;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 0.5rem;
    padding: 1.5rem;
}

.championSearch{
    font-family: 'LeagueOfLegends';
    width: 20rem;
    height: 2.5rem;
    padding: 0.75rem;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

.btnSearch{
    font-family: 'LeagueOfLegends';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.50rem;
    border-radius: 5px;
    width: 15rem;
    height: 5rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
}

.btnSearch:hover{
    transition: all 0.5s ease-in-out;
    filter: brightness(80%);
}

.estrategy{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    text-align: start;
    font-size: 25px;
}


.championStatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.infos{
    display: flex;
    text-align: start;
    flex-direction: column;
    font-size: 28px;
}

.contentChampion{
    display: flex;
    flex-direction: column;
    font-size: 26px;
}

.splashArtImg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75rem;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,20);
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.splashArtImg:hover{
    outline: 5px solid #242ecc42;
    transition: outline 0.2s ease 0s;
}

.titleChampion{
    text-shadow: none;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  

  
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
  
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-logo-champion {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-logo-champion {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }

  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

span{
    color:#f1f1f1
}

h1{
    position: relative;
    animation: myAnim 2s ease 0s 1 normal forwards;
    color: #f1f1f1;
    text-shadow: 0px 0px 12px rgba(0, 75, 255, 0.96);
}

h1:hover{
    filter:drop-shadow(0px 22px 31px #242ecc42);
}

h2{
    color: #f1f1f1;
}

ul{
    color: #f1f1f1;
}

P{
    color: #f1f1f1;
}
